{"n": "{{ item.key_data._n }}", "e": "{{ certbot_acme_accounts_defaults.key_data._e }}", "d": "{{ item.key_data._d }}", "p": "{{ item.key_data._p }}", "q": "{{ item.key_data._q }}", "dp": "{{ item.key_data.dp }}", "dq": "{{ item.key_data.dq }}", "qi": "{{ item.key_data.qi }}", "kty": "{{ certbot_acme_accounts_defaults.key_data.kty }}"}